data/outputs/*.log
data/outputs/home_sys_outputs/
.idea/*
data/inputs/annotations/*
data/inputs/val2017/*
data/inputs/*.jpg
cocoapi/PythonAPI/build/*
cocoapi/PythonAPI/build/common/*
detectron-download-cache/*