data/outputs/*.log
data/outputs/home_sys_outputs/
.idea/*
.idea/
data/inputs/annotations/*
data/inputs/val2017/*
data/inputs/*.jpg
data/inputs/transformed
data/inputs/input0/
data/inputs/input1/
data/inputs/input2/
data/inputs/input3/
data/inputs/input4/
data/inputs/input5/
data/inputs/input6/
data/inputs/input7/
data/inputs/reducedval2017/
data/outputs/transformed_outputs/*
data/outputs/transformed_spatial_output/*
data/outputs/transformed_outputs_matches/*
data/outputs/transformed_spatial_output_matches/*
data/outputs/5000_original_results_matches/*
analysis_scripts/.ipynb_checkpoints/*
data/outputs/metrics/*
data/outputs/metrics.zip
data/outputs/*_coco/*
cocoapi/PythonAPI/build/*
cocoapi/PythonAPI/build/common/*
detectron-download-cache/*
*.bat